<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlServiceName" value="MSSQL$SQLEXPRESS"/>
	</appSettings>
	<connectionStrings>
		<add name="CheckInSystemDb"
		connectionString="Server=localhost\SQLEXPRESS;Database=CheckInSystem;Trusted_Connection=True;Connect Timeout=30;"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>