<?xml version="1.0" encoding="utf-8"?>
<settings>
	<screen name="Screen Settings">
		<EmployeeOverviewScreenShow name="Show Checked in screen" type="int" value="2"/>
	</screen>
	
	<TimeArival name="Arrival time" type="Time" value="08:15:00"/>
	
	<absence name="Legal Reason for absence">
		
	</absence>
	
	<MISC name="Miscellaneous">
		<ShortName name="ShortName On/Off" Type="bool" value="true"/>
		
	</MISC>
</settings>